### Revisão aula passada

In [3]:
lista = [1,2,2,3,3,4,4,5,5]
tupla = 1,2,2,3,3,4,4,5,5
conj = {1,2,2,3,3,4,4,5,5}
dic = {'joao': 123, 'ze': 456}

In [4]:
print(lista)
print(tupla)
print(conj)
print(dic)

[1, 2, 2, 3, 3, 4, 4, 5, 5]
(1, 2, 2, 3, 3, 4, 4, 5, 5)
{1, 2, 3, 4, 5}
{'joao': 123, 'ze': 456}

In [5]:
#criar vazio
lista = []
tupla = ()
conj = set()
dic = {}

In [6]:
# se você utilizar o dir, ele vai trazer os metodos
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Dicionários são conjuntos formados por chave:valor (key:value)
#### A chave também pode ser chamada de rótulo e pode ser string ou númerica
#### O valor pode ser string, número ou lista, assim um conjunto será formado de listas com rótulos
#### ex: {chave1: valor1, chave2: valor2}

In [7]:
# cria um dicionário
meu_dic = {'a':1, 'b':2, 'c':3}
print(meu_dic)

{'a': 1, 'b': 2, 'c': 3}

In [8]:
#mostra valores usando as chaves
print(meu_dic['a'])
print(meu_dic['b'])
print(meu_dic['c'])

1
2
3

In [9]:
#adiciona novo chave:valor
meu_dic['d'] = 4
print(meu_dic)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [10]:
#mostra valor
print(meu_dic['c'])
print(meu_dic.get('c'))

3
3

In [11]:
#converte o dicionario em lista
list(meu_dic)

['a', 'b', 'c', 'd']

In [12]:
#cria dicionario de contatos
fones = {'joao': 1234, 'maria': 4567}
print(fones['joao'])

1234

In [13]:
print('Tamanho:', len(fones))

Tamanho: 2

In [14]:
#altera valor
fones['joao'] = 9999
print(fones['joao'])

9999

In [15]:
if 'luiz' in fones:
    print(fones['luiz'])
else:
    print('Este nome não tem telefone!')

Este nome não tem telefone!

In [16]:
if 'luiz' not in fones:
    print('Este nome não tem telefone!')

Este nome não tem telefone!

In [17]:
#mostra chaves
meu_dic.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [18]:
#mostra valores
meu_dic.values()

dict_values([1, 2, 3, 4])

In [20]:
#percorrendo o dic com for
for k in fones:
    print(k, fones[k])
    
    
# K seria a chave
# fones[k] seria o valor

joao 9999
maria 4567

In [24]:
#cria um novo dic através de um conjunto de chaves:valores
info = {'pais': 'Brasil', 'habitantes': 21000000, 'idioma': 'Português', 'reigões':5}
print('País: ', info['pais'])
print('Idioma: ', info['idioma'])

País:  Brasil
Idioma:  Português

In [21]:
#JUST AN EXAMPLE OUT THE CLASS
frase = 'a boa caneta'
lista = frase.split()  #split = separa pelo espaço e cria uma lista ['a' 'boa' 'caneta']
port_ingles = {'a': 'the', 'boa': 'good', 'caneta': 'pen'}

for p in lista:
    print(port_ingles[p])

the
good
pen

In [26]:
#dicionario a partir de uma lista de tuplas
lista = [
    ('joao', 'joao@gmail.com'),
    ('maria', 'maria@gmail.com'),
    ('luiz', 'luiz@gmail.com'),
]

print(lista)

#cria o dic a partir da lista
contatos = dict(lista)
print(contatos)

[('joao', 'joao@gmail.com'), ('maria', 'maria@gmail.com'), ('luiz', 'luiz@gmail.com')]
{'joao': 'joao@gmail.com', 'maria': 'maria@gmail.com', 'luiz': 'luiz@gmail.com'}

In [40]:
#dic a partir de lista, cujos valores são sublistas
lista_vendas = [
    ('id', [1, 2, 3]),
    ('vendedor', ['Julio', 'Claudio', 'Fulano']),
    ('Vendas', [1500, 2500, 4500])
]

print(lista_vendas)


tabela = dict(lista_vendas)
print(tabela)

[('id', [1, 2, 3]), ('vendedor', ['Julio', 'Claudio', 'Fulano']), ('Vendas', [1500, 2500, 4500])]
{'id': [1, 2, 3], 'vendedor': ['Julio', 'Claudio', 'Fulano'], 'Vendas': [1500, 2500, 4500]}

In [46]:
for k in tabela:
    print(f'Chave: {k} \nValores: {tabela[k]}\n')

Chave: id
Valores: [1, 2, 3]

Chave: vendedor
Valores: ['Julio', 'Claudio', 'Fulano']

Chave: Vendas
Valores: [1500, 2500, 4500]

In [47]:
#obtem a lista de itens do dic
list(tabela.items())

[('id', [1, 2, 3]),
 ('vendedor', ['Julio', 'Claudio', 'Fulano']),
 ('Vendas', [1500, 2500, 4500])]

In [49]:
#PANDAS
#cria um df a partir de um dic tabela
import pandas as pd
df = pd.DataFrame.from_dict(tabela)
display(df)

   id vendedor  Vendas
0   1    Julio    1500
1   2  Claudio    2500
2   3   Fulano    4500

In [54]:
#cria outro dic a partir de um dic de dados
dados = {
    'Nome': ['Frodo', 'Sam', 'Gandalf', 'Galadriel'],
    'Idade': [25, 26, 50, 40],
    'Dpto': ['Vendas', 'Vendas', 'Contabilidade', 'RH']
}

#cria dataframe
df =  pd.DataFrame.from_dict(dados)
display(df)

        Nome  Idade           Dpto
0      Frodo     25         Vendas
1        Sam     26         Vendas
2    Gandalf     50  Contabilidade
3  Galadriel     40             RH

In [57]:
df['Idade']

0    25
1    26
2    50
3    40
Name: Idade, dtype: int64

In [59]:
#usando python
print('Menor idade:', min(df['Idade']))
print('Maior idade:', max(df['Idade']))
print('Media idade:', sum(df['Idade']) / len(df['Idade']))

Menor idade: 25
Maior idade: 50
Media idade: 35.25

In [61]:
#usando pandas
print(df['Idade'].min())
print(df['Idade'].max())
print(df['Idade'].mean())

25
50
35.25

In [63]:
#cria dic vazios
cidades = {} #ou
ciddes = dict()

In [64]:
#adiciona dados
cidades['ponta grossa'] = 334535
cidades['castro'] = 71809
cidades['carambei'] = 24225
display(cidades)

{'ponta grossa': 334535, 'castro': 71809, 'carambei': 24225}

In [71]:
print('\nCidade \t\tPopulação')
for x in cidades:
    print(f'{x:15} {cidades[x]}')

Cidade 		População
ponta grossa    334535
castro          71809
carambei        24225

In [73]:
# cria outro dicionario de dados
estados = {'SC': 7.165, 'RS': 11.29, 'PR': 11.08}
print('\nUF  \tPopulação')


for x in estados:
    print(f'{x:8} {estados[x]}')

UF  	População
SC       7.165
RS       11.29
PR       11.08

In [74]:
# cria uma serie do pandas

#as chaves do dic serão os índices
series = pd.Series(estados)
display(series)

SC     7.165
RS    11.290
PR    11.080
dtype: float64

In [75]:
#converte series em DF, sendo que as chaves serão os indices

df = series.to_frame(name='População (milhões)') # ou pd.DataFrame(series)
df

    População (milhões)
SC                7.165
RS               11.290
PR               11.080

In [81]:
#dic com chave numerica
alunos = {3: 'Rafael', 2: 'Gabriel', 1:'Josiel'}
#print(alunos[1])

#ordena pela chave
print('Ordenado pela chave')
for x in sorted(alunos):
    print(x, alunos[x])
    
    
#ordena pelo valor
print('\n\nOrdenado pelo valor')
for x in sorted(alunos, key=alunos.get):
    print(x, alunos[x])
    

#ordena pelo valor reverso
print('\n\nOrdenado pelo valor reverso')
for x in sorted(alunos, key=alunos.get, reverse=True):
    print(x, alunos[x])

Ordenado pela chave
1 Josiel
2 Gabriel
3 Rafael


Ordenado pelo valor
2 Gabriel
1 Josiel
3 Rafael


Ordenado pelo valor reverso
3 Rafael
1 Josiel
2 Gabriel

In [98]:
#dic com rotulos e listas
indice = [0,1,2]
cidades = ['Ponta Grossa', 'Castro', 'Carambei']
populacao = [334535, 71809, 21225]
dados = {'indice': indice, 'cidades': cidades, 'populacao': populacao}

print('\nDados IBGE:', dados)

print('\nÍndice \tCidade \t\tPopulação')
for i in dados['indice']:
    print(f"{i} \t{dados['cidades'][i]:15} {dados['populacao'][i]}")

Dados IBGE: {'indice': [0, 1, 2], 'cidades': ['Ponta Grossa', 'Castro', 'Carambei'], 'populacao': [334535, 71809, 21225]}

Índice 	Cidade 		População
0 	Ponta Grossa    334535
1 	Castro          71809
2 	Carambei        21225

In [99]:
df = pd.DataFrame(dados).set_index('indice')
df

             cidades  populacao
indice
0       Ponta Grossa     334535
1             Castro      71809
2           Carambei      21225